<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 style="border-bottom: 1px solid #c5c5c5;"> Registrieren </h4>
            <div style="padding: 20px;">
                <fieldset>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" placeholder="Benutzername" type="text" ng-model="data.userName"
                               autofocus required id="username">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"> @ </span>
                        <input class="form-control" placeholder="Email" type="email" ng-model="data.email"
                               autofocus required id="Email">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" placeholder="Passwort" type="password" id="password"
                               ng-model="data.password" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" placeholder="Passwort bestätigen" type="password" id="passwordConfirm"
                               ng-model="data.passwordConfirm" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" ng-click="register()" id="submit">Registrieren
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>