.game-view {
  height: 200px;
}

.tabs {
  margin-top: 20px;
}

.description {
  margin-top: 40px;
}

.stars {
  font-size: 22px;
}

.rating {
  position: absolute;
}

.platform {
  height: 40px;
  margin-right: 15px;
}

.review {
  margin-top: 20px;
}

.star-selected {
  color: yellow !important;
}

.star-inactive {
  color: transparent;
}

.star-active {
  color: black;
}

