.games-list {
  margin-top: 10px;
}

.game-panels {
  width: 220px;
  display: inline-block;
  margin-right: 50px;
}

.panel-image {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}