node_modules/
.idea
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/5e/301ab0206029001613d18252753272e4
.metadata/.plugins/org.eclipse.core.resources/.history/c5/2018dd086229001613d18252753272e4
.metadata/.plugins/org.eclipse.core.resources/.projects/Server/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Server/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Server/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1384569773.index
.metadata/.plugins/org.eclipse.jdt.core/1667739941.index
.metadata/.plugins/org.eclipse.jdt.core/1768317025.index
.metadata/.plugins/org.eclipse.jdt.core/1818873502.index
.metadata/.plugins/org.eclipse.jdt.core/1894630357.index
.metadata/.plugins/org.eclipse.jdt.core/2015914683.index
.metadata/.plugins/org.eclipse.jdt.core/2097543236.index
.metadata/.plugins/org.eclipse.jdt.core/2131649118.index
.metadata/.plugins/org.eclipse.jdt.core/2149498711.index
.metadata/.plugins/org.eclipse.jdt.core/2247402208.index
.metadata/.plugins/org.eclipse.jdt.core/2254461003.index
.metadata/.plugins/org.eclipse.jdt.core/2352543979.index
.metadata/.plugins/org.eclipse.jdt.core/2501520862.index
.metadata/.plugins/org.eclipse.jdt.core/2556109322.index
.metadata/.plugins/org.eclipse.jdt.core/3043738268.index
.metadata/.plugins/org.eclipse.jdt.core/3060984396.index
.metadata/.plugins/org.eclipse.jdt.core/3498770828.index
.metadata/.plugins/org.eclipse.jdt.core/350048663.index
.metadata/.plugins/org.eclipse.jdt.core/3573088538.index
.metadata/.plugins/org.eclipse.jdt.core/3659163755.index
.metadata/.plugins/org.eclipse.jdt.core/4206875510.index
.metadata/.plugins/org.eclipse.jdt.core/450602042.index
.metadata/.plugins/org.eclipse.jdt.core/460464283.index
.metadata/.plugins/org.eclipse.jdt.core/779407479.index
.metadata/.plugins/org.eclipse.jdt.core/798836303.index
.metadata/.plugins/org.eclipse.jdt.core/99360274.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
Server/.classpath
Server/.project
Server/.settings/org.eclipse.jdt.core.prefs
Server/bin/webshop/Main.class
Server/bin/webshop/db/Datenbank.class
Server/bin/webshop/frame/ServerFrame$1.class
Server/bin/webshop/frame/ServerFrame$2.class
Server/bin/webshop/frame/ServerFrame$3.class
Server/bin/webshop/frame/ServerFrame$4.class
Server/bin/webshop/frame/ServerFrame$5.class
Server/bin/webshop/frame/ServerFrame.class
Server/bin/webshop/model/Article.class
Server/bin/webshop/model/Artikelliste.class
Server/bin/webshop/model/Bestellung.class
Server/bin/webshop/model/Bestellungsartikel.class
Server/bin/webshop/model/Bestellungsliste.class
Server/bin/webshop/model/Review.class
Server/bin/webshop/model/User.class
Server/bin/webshop/rest/RestServer.class
Server/bin/webshop/rest/add/AddArticle.class
Server/bin/webshop/rest/add/AddOrder.class
Server/bin/webshop/rest/add/AddReview.class
Server/bin/webshop/rest/add/AddUser.class
Server/bin/webshop/rest/resources/ArticleResource.class
Server/bin/webshop/rest/resources/MessageResource.class
Server/bin/webshop/rest/resources/OrderResource.class
Server/bin/webshop/rest/resources/UserResource.class
Server/bin/webshop/test/TestAddUser.class
Server/bin/webshop/test/TestDB.class
Server/bin/webshop/test/UtilTest.class
Server/bin/webshop/util/Util.class
