node_modules/
.idea
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/
.metadata/version.ini
Server/.classpath
Server/.project
Server/.settings/org.eclipse.jdt.core.prefs
Server/bin/
.recommenders/