<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 style="border-bottom: 1px solid #c5c5c5;">Passwort vergessen </h4>
            <div style="padding: 20px;">
                <fieldset>
                    Bitte geben Sie zum Zurücksetzen Ihres Passwortes die Email-Adresse ein.<br><br>
                    <div class="form-group input-group">
                        <span class="input-group-addon"> @ </span>
                        <input class="form-control" placeholder="Email" type="email" ng-model="data.email"
                               autofocus required id="email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" ng-click="submit()" id="submit">Abschicken</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>