<div ng-repeat="order in orders" class="list-group col-md-3">
    <!-- TODO: Date filter-->
    <p class="h3">Bestellung {{ order.id }} vom {{ order.date | date:'dd.MM.yyyy' }}</p>
    <p class="h4">Gesamtpreis: <span class="label label-primary">{{ order.totalPrice }}€</span></p>
    <p>Bestellte Artikel:</p>
    <div>
        <div class="list-group-item" ng-repeat="article in order.articles">
            {{ article.quantity }}x <a ui-sref="gameDetail({id: article.id})">{{ article.name }}</a><br>
            {{ article.quantity * article.price }}€
        </div>
    </div>
</div>