/* app css stylesheet */

body {
    width: 100%;
    height: 100%;
}

.content {
    padding: 0 30px 30px 30px;
}

.game-view {
    height: 200px;
}

.image {
    width: 300px;
    height: 200px;
    background-color: #1b6d85;
}

.platform {
    height: 40px;
    margin-right: 15px;
}

.description {
    margin-top: 40px;
}

.block {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.outline {
    position: absolute;
}

.review {
    margin-top: 20px;
}

.tabs {
    margin-top: 20px;
}