<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webshop</title>
    <meta name="description" content="Webshop for web engineering course">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/toastr/toastr.min.css">
</head>
<body ng-controller="AppCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ui-sref="home"><span class="navbar-brand">Webshop</span></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active: currentStateName == 'topGames' ? true : false}">
                    <a ui-sref="topGames">Top-Spiele</a>
                </li>
                <li ng-class="{active: currentStateName == 'newGames' ? true : false}">
                    <a ui-sref="newGames">Neuerscheinungen</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Genres<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="genre({name: 'Alle Spiele'})">Alle Spiele</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat="genre in genres"><a ui-sref="genre({name: genre})">{{ genre }}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ userName }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="cart">Warenkorb <span class="badge" ng-show="quantity">{{ quantity }}</span></a></li>
                        <li ng-show="userName != 'Benutzer'"><a ui-sref="orders">Bestellungen</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-show="userName != 'Benutzer'"><a ng-click="logout()" href="">Logout</a></li>
                        <li ng-show="userName == 'Benutzer'"><a ui-sref="login">Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view class="content"></div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/toastr/toastr.min.js"></script>
<script src="app.js"></script>
<script src="home/home.js"></script>
<script src="cart/cart.js"></script>
<script src="topGames/topGames.js"></script>
<script src="newGames/newGames.js"></script>
<script src="gameDetail/gameDetail.js"></script>
<script src="orders/orders.js"></script>
<script src="genre/genre.js"></script>
<script src="login/login.js"></script>
<script src="login/register/register.js"></script>
<script src="login/passwordForget/passwordForget.js"></script>
</body>
</html>
