<div ng-repeat="item in cart">
    <img ng-src="{{ articles[item.itemId].image }}" height="100px" style="display:inline-block">
    <div style="display: inline-block; margin-left: 15px">
        <p><b>{{ item.quantity }}</b>x {{ articles[item.itemId].name }} (Stückpreis: {{ articles[item.itemId].price }}€)</p>
        <p>
            <span class="h4" ng-show="item.quantity">{{ item.quantity * articles[item.itemId].price | number: 2 }}€</span>
        </p>
    </div>
    <hr>
</div>
<p class="h4" ng-show="totalPrice">Gesamt: {{ totalPrice | number: 2 }}€</p>
<button class="btn btn-warning" ng-click="addOrder()" ng-disabled="isLoading">Artikel bestellen</button>