<div class="modal-header">
    <h3 class="modal-title">Bewertung <span ng-if="isNewReview">schreiben</span><span ng-if="!isNewReview">überarbeiten</span></h3>
</div>
<div class="modal-body">
    <span class="rating">
        <span>★</span><span ng-show="stars >= 1.5">★</span><span ng-show="stars >= 2.5">★</span><span
            ng-show="stars >= 3.5">★</span><span ng-show="stars >= 4.5">★</span>
    </span>
    <span>☆☆☆☆☆</span>
    <div class="form-group">
        <label for="title">Titel:</label>
        <input type="text" class="form-control" id="title" ng-model="title" ng-change="checkValid()">
    </div>
    <div class="form-group">
        <label for="message">Text:</label>
        <textarea class="form-control" rows="5" id="message" ng-model="message" ng-change="checkValid()"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Abbrechen</button>
    <button class="btn btn-primary" type="button" ng-click="submit()" ng-disabled="!isValid">Abschicken</button>
</div>