.invalid > input, .invalid-select > select, .invalid-textarea > div > .ta-text, .invalid-select > input, .fileinput-invalid > .btn {
  border-color: red;
}
.invalid > label, .invalid-select > label, .invalid-textarea > label, .fileinput-invalid > span {
  color: red;
}

.datepicker > table {
  outline: none;
}
